includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 9

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
    excludePaths:
        - ./app/Http/Controllers/Auth
        - ./tests/Feature/Auth
        - ./app/Http/Requests
        - ./app/Http/Controllers/ProfileController.php
#
#    checkMissingIterableValueType: false